@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Inter', sans-serif;
}

:root {
    --primary: #ad887c;
    --secondary: #d9d9d9;
    --third: #efefef;
    --white: #fff;
    --black: #000; /*simplificação do 000000*/
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ad887c;
    height: 6rem;
}

header figure{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 170%;
    font-weight: 400;
    color: var(--white);
}

header img {
    padding: 0.3rem;
}

header nav {
    display: flex;
    align-items: center;
    font-size: 125%;
    font-weight: 400;
}

header nav a {
    margin: 0 2rem;
    text-decoration: none;
    color: var(--white);
}

header nav a.aqui {
    font-weight: lighter;
}

header nav a:hover {
    font-weight: lighter;
}

main {
    min-height: calc(100vh - 10.5rem);
}

main.index  {
    display: flex;
    justify-content: center;
    align-items: center;
}

main.index section {
    display: flex;
    justify-content: center;
    align-items: center;
}

main.index section img {
    width: 55rem;
}

footer {
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #ad887c;
    justify-content: space-between;
}

footer div{
    padding-right: 2rem;
    font-weight: bold;
    font-size: 150%;
    font-weight: 400;
    color: var(--white);
}

footer div a:hover{
    font-weight: lighter;
}

footer figure img {
    margin: 0 1.2rem;
    width: 2.3rem;
}

main.Receitas section {
    display: flex;
    flex-direction: row;
    min-height: calc((100vh - 10.5rem) / 4);
}

main.Receitas section.branco{
    background-color: var(--secondary);
}

main.Receitas section.cinza{
    background-color: var(--third);
}

main.Receitas section aside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1gitrem;
    padding-left: 1.4rem;
}

main.Receitas section aside:last-child div{
    padding-bottom: 2rem;
    font-weight: bold;
    font-size: 170%;
    font-weight: 400;
    color: var(--black);
}

main.Receitas section aside:last-child div:last-child{
    padding-bottom: 1rem;
}

main.Receitas section aside:last-child {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}