header input#menu-abre {
    display: none;
}

@media(max-width: 400px) {
    header {
        flex-direction: row-reverse;
        padding-left: 12px;
    }

    header figure span {
        display: none;
    }

    header nav label[for='menu-abre'] {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
    }

    header nav label[for='menu-abre'] span.menu-hamburger {
        background-color: var(--black);
        border: 1px solid var(--black);
        width: 30px;
        height: 3px;
    }

    header nav label[for='menu-abre'] span.menu-hamburger {
        margin-bottom: 0.5rem;
    }

    header input:checked~nav label[for='menu-abre'] span.menu-hamburger {
        background-color: var(--white);
        border: 1px solid var(--black);
        width: 30px;
        height: 3px;
    }

    header nav div {
        display: none;
    }

    header input:checked~nav {
        display: flex;
    }

    header input:checked~nav div {
        position: absolute;
        top: 1rem;
        left: 1.5rem;
        display: flex;
        flex-direction: column;
    }

    header input:checked~nav div a {
        padding: 0.2rem;
        background-color: var(--primary);
        border: 1.8px solid var(--secondary);
    }

    header input:checked~nav div a:hover {
        background-color: var(--primary);
        color: var(--white);
    }
}